html {
	height: 100vh; /* set viewport constraint */
	min-height: 100%; /* enforce height */
}

body {
    width: 100%;
    height: 100%;
	background-color:#fefefe;
}

hr.small {
    max-width: 750px;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    height: 100%;
}

.intro {
    background:url('../css/transamazon.gif') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    display: table-cell;
    vertical-align: top
}

.intro h1 {
	font-family: 'Lora', garamond,serif;
	font-size: 5vw;
	padding-left: 70px;
	color:#fff;
}

.intro hr {
	margin-left: 70px;
	width:50%
}

.section {
	padding-top: 30px;
	padding-bottom: 30px;
}

a { 
	text-decoration: none;
	color:#000000;
	border-bottom:1px dotted black; 
}

a:hover { 
	text-decoration: none; 
	color:#000000;
	border-bottom:1px solid black; 
}


.main h1 {
	font-family:'Roboto',helvetica,sans-serif;
	letter-spacing: 5px;
	margin: 30px;
}

.main h4 {
	font-family:'Roboto',helvetica,sans-serif;
	letter-spacing: 5px;
	margin: 30px;
}

.main p {
	font-family: 'Lora', garamond,serif;
	margin: 30px;
}

#main {
	background-color:#fefefe;
	padding-bottom:50px;
}

