a { 
	text-decoration: none;
	color:#000000;
	border-bottom:1px dotted black; 
}

a:hover { 
	text-decoration: none; 
	color:#000000;
	border-bottom:1px solid black; 
}

html, body {
	height: 100%;
	background-color:#fefefe;
}

.box {
  	bottom: 0;
    left: 0;
    right: 0;
	position: fixed;
    top: 0;
    background:url('../css/bg.jpg') no-repeat left;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:contain;
}

h1 {
	font-family:'Roboto',helvetica,sans-serif;
	letter-spacing: 5px;
	margin: 30px;
}

h4 {
	font-family:'Roboto',helvetica,sans-serif;
	letter-spacing: 5px;
	margin: 30px;
}

p {
	font-family: 'Lora', garamond,serif;
	margin: 30px;
}

#main {
	background-color:#fefefe;
	padding-bottom: 30px;
}

@media (max-width:768px) {
	.box {
		background:url('../css/bg-2.jpg') no-repeat left;
		background-size:cover;
		background-position:top;
	}
	#main {
		padding:5px;
		top:300px;
	}

}



